h1{
    color: blue;
}

#website_name{
    background-color: orange;
    margin: 10px;
    width: auto;
    height: 400%;
    position: static;

    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}