h1{
    color: blue;
}

#website_name{
    background-color: orange;
    margin: 10px;
    width: auto;
    height: 100px;
    position: static;

    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 25px;
}

section{
    height: max-content;
    width: 100%;
}